/* секция клиенты */
.customers {
   padding: 60px 0 60px 0;
}
.customers__header {
   font-weight: bold;
   font-size: 28px;
   line-height: 1.142;
   text-align: center;
   letter-spacing: inherit;
   margin-bottom: 30px;
}
.customers__list {
   display: flex;
   flex-basis: calc(100% / 2 -30px);
   flex-wrap: wrap;
}
.customers__item {
   &:nth-child(2n + 1) {
      margin-right: 30px;
   }
   &:nth-child(-n + 4) {
      margin-bottom: 30px;
   }
}
.customers__link {
   @include centeredFlex();
   width: 210px;
   height: 92px;
   border-radius: 4px;
   color: rgba(175, 177, 184, 1);
   border: 1px solid rgba(175, 177, 184, 1);
   transition-property: border, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      border: 1px solid $special-color;
      color: $special-color;
   }
}
.customer__icon {
   width: 106px;
   height: 60px;
   fill: currentColor;
}
@media screen and(min-width:$tablet) {
   .customers__list {
      margin-bottom: #{-1 * $basic-card-gap};
      margin-right: #{-1 * $basic-card-gap};
      display: flex;
      flex-basis: calc(100% / 3 -30px);
      flex-wrap: wrap;
   }
   .customers__item {
      display: block;
      margin-right: $basic-card-gap;
      margin-bottom: $basic-card-gap;
   }
   .customers__link {
      width: 226px;
   }
}
@media screen and(min-width:$desktop) {
   .customers {
      padding: 94px 0 94px 0;
   }
   .customers__header {
      font-size: 36px;
      line-height: 1.166;
      margin-bottom: 50px;
   }
   .customers__item {
      display: flex;
      &:nth-child(-n + 6) {
         margin-bottom: 0;
      }
      &:last-child {
         margin-right: 0;
      }
   }
   .customers__link {
      width: 170px;
   }
}
